In [1]:
#
###### https://github.com/LucaCanali/Miscellaneous/blob/master/Pyspark_SQL_Magic_Jupyter/IPython_Pyspark_SQL_Magic.py
#
#
# IPython magic functions to use with Pyspark and Spark SQL
# The following code is intended as examples of shorcuts to simplify the use of SQL in pyspark
# The defined functions are:
#
# %sql <statement>          - return a Spark DataFrame for lazy evaluation of the SQL
# %sql_show <statement>     - run the SQL statement and show max_show_lines (50) lines
# %sql_display <statement>  - run the SQL statement and display the results using a HTML table 
#                           - this is implemented passing via Pandas and displays up to max_show_lines (50)
# %sql_explain <statement>  - display the execution plan of the SQL statement
#
# Use: %<magic> for line magic or %%<magic> for cell magic.
#
# Author: Luca.Canali@cern.ch
# September 2016
#

from IPython.core.magic import register_line_cell_magic

# Configuration parameters
max_show_lines = 50         # Limit on the number of lines to show with %sql_show and %sql_display
detailed_explain = True     # Set to False if you want to see only the physical plan when running explain


@register_line_cell_magic
def sql(line, cell=None):
    "Return a Spark DataFrame for lazy evaluation of the sql. Use: %sql or %%sql"
    val = cell if cell is not None else line 
    return sqlContext.sql(val)

@register_line_cell_magic
def sql_show(line, cell=None):
    "Execute sql and show the first max_show_lines lines. Use: %sql_show or %%sql_show"
    val = cell if cell is not None else line 
    return sqlContext.sql(val).show(max_show_lines) 

@register_line_cell_magic
def sql_display(line, cell=None):
    """Execute sql and convert results to Pandas DataFrame for pretty display or further processing.
    Use: %sql_display or %%sql_display"""
    val = cell if cell is not None else line 
    return sqlContext.sql(val).limit(max_show_lines).toPandas() 

@register_line_cell_magic
def sql_explain(line, cell=None):
    "Display the execution plan of the sql. Use: %sql_explain or %%sql_explain"
    val = cell if cell is not None else line 
    return sqlContext.sql(val).explain(detailed_explain)

In [2]:
##############################
###### Load The Delta   ######
##############################
###
### Input delta in folder :  /data/delta
job_dir="/home/notebookuser/notebooks/cv-ngrams-classifier/job-dir/"
json_cv_file=job_dir+"data/delta/json-cv-pdf"
json_cv_table="pdf_cv"
#
ngrams_cv_file=job_dir+"data/delta/cv-files-ngrams"
ngrams_cv_table="ngrams_cv"
#
skills_file=job_dir+"data/delta/role_skills"
skills_table="role_skills"
###
######
##############################Execution##########################
import findspark
findspark.init()
#
#
import pyspark
from pyspark.sql import functions as pfunc
from pyspark.sql import SQLContext
from pyspark.sql import Window, types
import re
import pandas as pd
import numpy as np
from pandas import DataFrame
from pyspark.sql.types import IntegerType
from pyspark.sql.types import FloatType
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from scipy.stats import kstest
from scipy import stats
#
import subprocess
#
sc = pyspark.SparkContext(appName="Daily_CV_Analysis-Delta")
sqlContext = SQLContext(sc)
#

#
# Join with Internal Curation Data in urltopredict staged folder
from pyspark.sql import functions as F
### use version=1
version=1
## .option("versionAsOf", version)
delta_df1=sqlContext.read.format("delta").load(json_cv_file)\
.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)
delta_df1.printSchema()
delta_df1.registerTempTable(json_cv_table)
#
delta_df2=sqlContext.read.format("delta").load(ngrams_cv_file)\
.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)
delta_df2.printSchema()
delta_df2.registerTempTable(ngrams_cv_table)
#
delta_df3=sqlContext.read.format("delta").load(skills_file)\
.persist(pyspark.StorageLevel.MEMORY_AND_DISK_2)
delta_df3.printSchema()
delta_df3.registerTempTable(skills_table)
#
print("Table Loading Done")
#

root
 |-- filename: string (nullable = true)
 |-- pages: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- p_content: string (nullable = true)
 |    |    |-- page_n: string (nullable = true)

root
 |-- Filename: string (nullable = true)
 |-- pagei: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 1_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 2_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 3_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 4_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 5_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 6_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 1_counts: vector (nullable = true)
 |-- 2_counts: vector (nullable = true)
 |-- 3_counts: vector (nullable = true)
 |-- 4_counts: vector (nullable = true)
 |-- 5_counts: vector (nullable = true)
 |-- 6_counts: vector (nullable = true)
 |-- features: vector (nullable = true)

root
 |-- skill: string (nullable = true)
 |-- role: string (nullable = true)
 |-- level: string (nullable = true)

Table Loading Done

In [3]:
#
####
#### Expose most frequent Terms in CV pages
####
from pyspark.sql.functions import *
from pyspark.sql.types import *
#
mywords=sqlContext.sql("select filename,pages from pdf_cv where filename IS NOT NULL ") ## ='cv-x1' 
mywords=mywords.select("filename",explode("pages.p_content").alias("p_cont"))\
.select("filename",explode(split(col("p_cont"), "\s+")).alias("terms_in_pages"))
###
mywords.printSchema()
####
filler_words_list=['the','a','of','to','is','or','in','on','for','by','an','The','the','and','A','at','as','it','be',\
                   'your','new','my','via','that','when','their','with','you','are','It','from','can','usually',\
                   'end','up','so','low','was','use','find','other','Other',\
                   'i','o','a','--','-',':','•','|','❖','●','§','&','–','.','_',';',',','(',')','/','//',\
                   '1','2','3','4','5','6','7','8','9','0',\
                   'a','b','c','d','e','f','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',\
                   '○','+','-','_','---','--','##','##','###','####','â€“','â€','€“','â','€“','“','',\
                   'â€”','â','€','”','€”','â€','â”',\
                   ' ','\n','\n ','  ','\n  ','   ','\n   ','    ','     ','      ','       ','        ','         ','          ','           ']
####
wordCountDF = mywords.filter(~(col("terms_in_pages").isin(filler_words_list))).groupBy("filename","terms_in_pages").count().orderBy(col('count').desc())
####
#
print(" ------   Data Miner --- CV --- Word Frequencies ----- ")
#
wordCountDF.show(200)
#

root
 |-- filename: string (nullable = true)
 |-- terms_in_pages: string (nullable = true)

 ------   Data Miner --- CV --- Word Frequencies -----
+--------------------+--------------------+-----+
|            filename|      terms_in_pages|count|
+--------------------+--------------------+-----+
|CV-JoaoCerqueira-...|                Data|   83|
|CV-JoaoCerqueira-...|               using|   42|
|CV-JoaoCerqueira-...|                data|   26|
|CV-JoaoCerqueira-...|                 AWS|   24|
|CV-JoaoCerqueira-...|            solution|   21|
|CV-JoaoCerqueira-...|            services|   18|
|CV-JoaoCerqueira-...|             Science|   18|
|CV-JoaoCerqueira-...|                 Big|   15|
|CV-JoaoCerqueira-...|            Cloudera|   15|
|CV-JoaoCerqueira-...|                 ETL|   13|
|CV-JoaoCerqueira-...|              Oracle|   11|
|CV-JoaoCerqueira-...|               Media|    9|
|CV-JoaoCerqueira-...|              Python|    9|
|CV-JoaoCerqueira-...|               Cloud|    9|
|CV-JoaoCerqueira-...|              Hadoop|    9|
|CV-JoaoCerqueira-...|             Perform|    9|
|CV-JoaoCerqueira-...|        Architecture|    9|
|CV-JoaoCerqueira-...|           solutions|    9|
|CV-JoaoCerqueira-...|               Azure|    9|
|CV-JoaoCerqueira-...|                 CDH|    8|
|CV-JoaoCerqueira-...|      implementation|    8|
|CV-JoaoCerqueira-...|                  UK|    8|
|CV-JoaoCerqueira-...|               Spark|    8|
|CV-JoaoCerqueira-...|            analysis|    8|
|CV-JoaoCerqueira-...|               roles|    7|
|CV-JoaoCerqueira-...|            software|    7|
|CV-JoaoCerqueira-...|               tools|    7|
|CV-JoaoCerqueira-...|               stack|    7|
|CV-JoaoCerqueira-...|           analytics|    7|
|CV-JoaoCerqueira-...|             systems|    7|
|CV-JoaoCerqueira-...|             product|    7|
|CV-JoaoCerqueira-...|            customer|    7|
|CV-JoaoCerqueira-...|          generation|    7|
|CV-JoaoCerqueira-...|         Engineering|    7|
|CV-JoaoCerqueira-...|           Analytics|    7|
|CV-JoaoCerqueira-...|               Group|    7|
|CV-JoaoCerqueira-...|           Architect|    7|
|CV-JoaoCerqueira-...|           Streaming|    6|
|CV-JoaoCerqueira-...|             BigData|    6|
|CV-JoaoCerqueira-...|         development|    6|
|CV-JoaoCerqueira-...|               setup|    6|
|CV-JoaoCerqueira-...|           processes|    6|
|CV-JoaoCerqueira-...|                team|    6|
|CV-JoaoCerqueira-...|              Sports|    6|
|CV-JoaoCerqueira-...|                 API|    6|
|CV-JoaoCerqueira-...|              Apache|    6|
|CV-JoaoCerqueira-...|                Core|    6|
|CV-JoaoCerqueira-...|            business|    6|
|CV-JoaoCerqueira-...|              London|    5|
|CV-JoaoCerqueira-...|              Google|    5|
|CV-JoaoCerqueira-...|                over|    5|
|CV-JoaoCerqueira-...|            Services|    5|
|CV-JoaoCerqueira-...|                   R|    5|
|CV-JoaoCerqueira-...|                 IOT|    5|
|CV-JoaoCerqueira-...|          ecosystems|    5|
|CV-JoaoCerqueira-...|           Migration|    5|
|CV-JoaoCerqueira-...|           technical|    5|
|CV-JoaoCerqueira-...|          Analytics,|    5|
|CV-JoaoCerqueira-...|        technologies|    5|
|CV-JoaoCerqueira-...|              across|    5|
|CV-JoaoCerqueira-...|            Solution|    5|
|CV-JoaoCerqueira-...|            Software|    5|
|CV-JoaoCerqueira-...|           customers|    5|
|CV-JoaoCerqueira-...|             between|    5|
|CV-JoaoCerqueira-...|            insights|    5|
|CV-JoaoCerqueira-...|                Java|    5|
|CV-JoaoCerqueira-...|                Hive|    5|
|CV-JoaoCerqueira-...|                  BI|    5|
|CV-JoaoCerqueira-...|           Mainframe|    5|
|CV-JoaoCerqueira-...|           scripting|    5|
|CV-JoaoCerqueira-...|                into|    5|
|CV-JoaoCerqueira-...|              design|    4|
|CV-JoaoCerqueira-...|                 FIS|    4|
|CV-JoaoCerqueira-...|          processing|    4|
|CV-JoaoCerqueira-...|           ingestion|    4|
|CV-JoaoCerqueira-...|                 GFT|    4|
|CV-JoaoCerqueira-...|                 SQL|    4|
|CV-JoaoCerqueira-...|                 CRM|    4|
|CV-JoaoCerqueira-...|          collection|    4|
|CV-JoaoCerqueira-...|                 Web|    4|
|CV-JoaoCerqueira-...|               cloud|    4|
|CV-JoaoCerqueira-...|               event|    4|
|CV-JoaoCerqueira-...|             Hadoop,|    4|
|CV-JoaoCerqueira-...|                also|    4|
|CV-JoaoCerqueira-...|               based|    4|
|CV-JoaoCerqueira-...|           knowledge|    4|
|CV-JoaoCerqueira-...|          Kubernetes|    4|
|CV-JoaoCerqueira-...|               Usage|    4|
|CV-JoaoCerqueira-...|          principles|    4|
|CV-JoaoCerqueira-...|                2015|    4|
|CV-JoaoCerqueira-...|           migration|    4|
|CV-JoaoCerqueira-...|             support|    3|
|CV-JoaoCerqueira-...|         consultancy|    3|
|CV-JoaoCerqueira-...|              sports|    3|
|CV-JoaoCerqueira-...|           real-time|    3|
|CV-JoaoCerqueira-...|            tracking|    3|
|CV-JoaoCerqueira-...|           Solutions|    3|
|CV-JoaoCerqueira-...|                 BDA|    3|
|CV-JoaoCerqueira-...|             content|    3|
|CV-JoaoCerqueira-...|           including|    3|
|CV-JoaoCerqueira-...|                  VP|    3|
|CV-JoaoCerqueira-...|               teams|    3|
|CV-JoaoCerqueira-...|                TPOC|    3|
|CV-JoaoCerqueira-...|         Hadoop/Hive|    3|
|CV-JoaoCerqueira-...|           resources|    3|
|CV-JoaoCerqueira-...|                 AKS|    3|
|CV-JoaoCerqueira-...|             control|    3|
|CV-JoaoCerqueira-...|                2016|    3|
|CV-JoaoCerqueira-...|             Cluster|    3|
|CV-JoaoCerqueira-...|          experience|    3|
|CV-JoaoCerqueira-...|           Services,|    3|
|CV-JoaoCerqueira-...|              Direct|    3|
|CV-JoaoCerqueira-...|            learning|    3|
|CV-JoaoCerqueira-...|              UDF(s)|    3|
|CV-JoaoCerqueira-...|        applications|    3|
|CV-JoaoCerqueira-...|             Analyst|    3|
|CV-JoaoCerqueira-...|      sector:Systems|    3|
|CV-JoaoCerqueira-...|                Full|    3|
|CV-JoaoCerqueira-...|             Banking|    3|
|CV-JoaoCerqueira-...|  sector:Consultancy|    3|
|CV-JoaoCerqueira-...|        fundamentals|    3|
|CV-JoaoCerqueira-...|         integration|    3|
|CV-JoaoCerqueira-...|              Lambda|    3|
|CV-JoaoCerqueira-...|           following|    3|
|CV-JoaoCerqueira-...|                core|    3|
|CV-JoaoCerqueira-...|           Developer|    3|
|CV-JoaoCerqueira-...|                life|    3|
|CV-JoaoCerqueira-...|              HIVEQL|    3|
|CV-JoaoCerqueira-...|                 DB2|    3|
|CV-JoaoCerqueira-...|          techniques|    3|
|CV-JoaoCerqueira-...|              social|    3|
|CV-JoaoCerqueira-...|              Spark,|    3|
|CV-JoaoCerqueira-...|                DAZN|    3|
|CV-JoaoCerqueira-...|             project|    3|
|CV-JoaoCerqueira-...|               data.|    3|
|CV-JoaoCerqueira-...|                 SLI|    3|
|CV-JoaoCerqueira-...|           Financial|    3|
|CV-JoaoCerqueira-...|            diﬀerent|    3|
|CV-JoaoCerqueira-...|           financial|    3|
|CV-JoaoCerqueira-...|               first|    3|
|CV-JoaoCerqueira-...|              driven|    3|
|CV-JoaoCerqueira-...|             testing|    3|
|CV-JoaoCerqueira-...|              Spring|    3|
|CV-JoaoCerqueira-...|             Quality|    3|
|CV-JoaoCerqueira-...|              domain|    3|
|CV-JoaoCerqueira-...|             further|    3|
|CV-JoaoCerqueira-...|           implement|    3|
|CV-JoaoCerqueira-...|         Programming|    3|
|CV-JoaoCerqueira-...|          management|    3|
|CV-JoaoCerqueira-...|         Mathematics|    3|
|CV-JoaoCerqueira-...|               media|    3|
|CV-JoaoCerqueira-...|            Business|    3|
|CV-JoaoCerqueira-...|            Customer|    3|
|CV-JoaoCerqueira-...|           ecosystem|    3|
|CV-JoaoCerqueira-...|                PIG,|    3|
|CV-JoaoCerqueira-...|                 IBM|    3|
|CV-JoaoCerqueira-...|                 4.3|    3|
|CV-JoaoCerqueira-...|           analysis,|    3|
|CV-JoaoCerqueira-...|          solutions,|    3|
|CV-JoaoCerqueira-...|      Implementation|    3|
|CV-JoaoCerqueira-...|              skills|    3|
|CV-JoaoCerqueira-...|              and/or|    2|
|CV-JoaoCerqueira-...|             program|    2|
|CV-JoaoCerqueira-...|                 SOA|    2|
|CV-JoaoCerqueira-...|             context|    2|
|CV-JoaoCerqueira-...|       newgeneration|    2|
|CV-JoaoCerqueira-...|              sector|    2|
|CV-JoaoCerqueira-...|             account|    2|
|CV-JoaoCerqueira-...|               CI/CD|    2|
|CV-JoaoCerqueira-...|                JIRA|    2|
|CV-JoaoCerqueira-...|             science|    2|
|CV-JoaoCerqueira-...|               video|    2|
|CV-JoaoCerqueira-...|                more|    2|
|CV-JoaoCerqueira-...|                full|    2|
|CV-JoaoCerqueira-...|        Intelligence|    2|
|CV-JoaoCerqueira-...|           Pipelines|    2|
|CV-JoaoCerqueira-...|                 due|    2|
|CV-JoaoCerqueira-...|               T-POC|    2|
|CV-JoaoCerqueira-...|                sets|    2|
|CV-JoaoCerqueira-...|           collected|    2|
|CV-JoaoCerqueira-...|                 our|    2|
|CV-JoaoCerqueira-...|            security|    2|
|CV-JoaoCerqueira-...|_________________...|    2|
|CV-JoaoCerqueira-...|               team,|    2|
|CV-JoaoCerqueira-...|          framework,|    2|
|CV-JoaoCerqueira-...|                BACS|    2|
|CV-JoaoCerqueira-...|            November|    2|
|CV-JoaoCerqueira-...|            training|    2|
|CV-JoaoCerqueira-...|           Cascading|    2|
|CV-JoaoCerqueira-...|             Profile|    2|
|CV-JoaoCerqueira-...|                Step|    2|
|CV-JoaoCerqueira-...|         Development|    2|
|CV-JoaoCerqueira-...|            designed|    2|
|CV-JoaoCerqueira-...|            sessions|    2|
|CV-JoaoCerqueira-...|              Active|    2|
|CV-JoaoCerqueira-...|               cycle|    2|
|CV-JoaoCerqueira-...|               years|    2|
|CV-JoaoCerqueira-...|                Fuel|    2|
|CV-JoaoCerqueira-...|                SEPA|    2|
|CV-JoaoCerqueira-...|               doing|    2|
+--------------------+--------------------+-----+
only showing top 200 rows

In [4]:
#
data_analytics_df1=sqlContext.sql("select * from pdf_cv limit 5")
data_analytics_df1.printSchema()
data_analytics_df1.show(5)
#
#
data_analytics_df2=sqlContext.sql("select * from ngrams_cv limit 5")
data_analytics_df2.printSchema()
data_analytics_df2.show(5)
#
#
data_analytics_df3=sqlContext.sql("select * from role_skills limit 5")
data_analytics_df3.printSchema()
data_analytics_df3.show(5)
#
#
data_analytics_df4=sqlContext.sql(" select distinct(a.filename) from ngrams_cv as a, role_skills as b where b.role = 'devops engineer' AND b.level='5' AND b.skill = 'terraform' AND (array_contains(a.1_grams,b.skill)) limit 10 ")
data_analytics_df4.printSchema()
data_analytics_df4.show(5)
#
#

root
 |-- filename: string (nullable = true)
 |-- pages: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- p_content: string (nullable = true)
 |    |    |-- page_n: string (nullable = true)

+--------------------+--------------------+
|            filename|               pages|
+--------------------+--------------------+
|CV-JoaoCerqueira-...|[[Data Architectu...|
+--------------------+--------------------+

root
 |-- Filename: string (nullable = true)
 |-- pagei: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 1_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 2_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 3_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 4_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 5_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 6_grams: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- 1_counts: vector (nullable = true)
 |-- 2_counts: vector (nullable = true)
 |-- 3_counts: vector (nullable = true)
 |-- 4_counts: vector (nullable = true)
 |-- 5_counts: vector (nullable = true)
 |-- 6_counts: vector (nullable = true)
 |-- features: vector (nullable = true)

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|            Filename|               pagei|             1_grams|             2_grams|             3_grams|             4_grams|             5_grams|             6_grams|            1_counts|            2_counts|            3_counts|            4_counts|            5_counts|            6_counts|            features|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|CV-JoaoCerqueira-...|[data, architectu...|[data, architectu...|[data architectur...|[data architectur...|[data architectur...|[data architectur...|[data architectur...|(1270,[1,2,3,4,5,...|(3160,[16,17,28,3...|(3932,[91,130,179...|(4305,[148,158,23...|(4457,[125,173,24...|(4583,[109,179,18...|(21707,[1,2,3,4,5...|
|CV-JoaoCerqueira-...|[business, or, se...|[business, or, se...|[business or, or ...|[business or sect...|[business or sect...|[business or sect...|[business or sect...|(1270,[1,2,3,4,5,...|(3160,[28,35,44,4...|(3932,[22,66,87,9...|(4305,[43,56,72,2...|(4457,[30,54,122,...|(4583,[29,170,171...|(21707,[1,2,3,4,5...|
|CV-JoaoCerqueira-...|[jenkins, jupyter...|[jenkins, jupyter...|[jenkins jupyter,...|[jenkins jupyter ...|[jenkins jupyter ...|[jenkins jupyter ...|[jenkins jupyter ...|(1270,[1,2,3,4,5,...|(3160,[17,25,33,3...|(3932,[22,66,71,7...|(4305,[43,56,72,8...|(4457,[30,54,78,1...|(4583,[29,62,125,...|(21707,[1,2,3,4,5...|
|CV-JoaoCerqueira-...|[azure, cloud, us...|[azure, cloud, us...|[azure cloud, clo...|[azure cloud usin...|[azure cloud usin...|[azure cloud usin...|[azure cloud usin...|(1270,[1,2,3,4,5,...|(3160,[16,17,25,2...|(3932,[21,22,41,5...|(4305,[27,29,62,8...|(4457,[47,63,68,8...|(4583,[32,41,47,4...|(21707,[1,2,3,4,5...|
|CV-JoaoCerqueira-...|[1, design, of, p...|[1, design, of, p...|[1 design, design...|[1 design of, des...|[1 design of proc...|[1 design of proc...|[1 design of proc...|(1270,[1,2,3,4,5,...|(3160,[16,17,24,2...|(3932,[21,22,41,5...|(4305,[27,29,62,8...|(4457,[47,66,68,8...|(4583,[32,41,48,5...|(21707,[1,2,3,4,5...|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+

root
 |-- skill: string (nullable = true)
 |-- role: string (nullable = true)
 |-- level: string (nullable = true)

+------+-------------+-----+
| skill|         role|level|
+------+-------------+-----+
|python|data engineer|    2|
|python|data engineer|    3|
|python|data engineer|    4|
|python|data engineer|    5|
| scala|data engineer|    3|
+------+-------------+-----+

root
 |-- filename: string (nullable = true)

+--------------------+
|            filename|
+--------------------+
|CV-JoaoCerqueira-...|
+--------------------+

In [5]:
%%sql_display
select distinct(a.filename) from ngrams_cv as a, role_skills as b 
 where b.role = 'devops engineer' AND b.level='5' AND b.skill = 'terraform' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 10

                               filename
0  CV-JoaoCerqueira-2021-2022-withcerts

In [6]:
%%sql_display
select distinct(a.filename) from ngrams_cv as a, role_skills as b 
 where b.role = 'data engineer' AND b.level='5' AND b.skill = 'python' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 10

                               filename
0  CV-JoaoCerqueira-2021-2022-withcerts

In [7]:
%%sql_display
select distinct(a.filename) from ngrams_cv as a, role_skills as b 
 where b.role = 'data engineer' AND b.level='5' AND b.skill = 'scala' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 10

                               filename
0  CV-JoaoCerqueira-2021-2022-withcerts

In [8]:
%%sql_display
select a.filename, b.skill from ngrams_cv as a, role_skills as b 
 where b.role = 'data engineer' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

                                filename            skill
0   CV-JoaoCerqueira-2021-2022-withcerts              gcp
1   CV-JoaoCerqueira-2021-2022-withcerts         dataproc
2   CV-JoaoCerqueira-2021-2022-withcerts            azure
3   CV-JoaoCerqueira-2021-2022-withcerts              aws
4   CV-JoaoCerqueira-2021-2022-withcerts         big data
5   CV-JoaoCerqueira-2021-2022-withcerts           hadoop
6   CV-JoaoCerqueira-2021-2022-withcerts            spark
7   CV-JoaoCerqueira-2021-2022-withcerts         cloudera
8   CV-JoaoCerqueira-2021-2022-withcerts              cdh
9   CV-JoaoCerqueira-2021-2022-withcerts              cdp
10  CV-JoaoCerqueira-2021-2022-withcerts              etl
11  CV-JoaoCerqueira-2021-2022-withcerts              elt
12  CV-JoaoCerqueira-2021-2022-withcerts         big data
13  CV-JoaoCerqueira-2021-2022-withcerts           python
14  CV-JoaoCerqueira-2021-2022-withcerts             java
15  CV-JoaoCerqueira-2021-2022-withcerts              aws
16  CV-JoaoCerqueira-2021-2022-withcerts       aws lambda
17  CV-JoaoCerqueira-2021-2022-withcerts         aws glue
18  CV-JoaoCerqueira-2021-2022-withcerts             glue
19  CV-JoaoCerqueira-2021-2022-withcerts           athena
20  CV-JoaoCerqueira-2021-2022-withcerts  confluent kafka
21  CV-JoaoCerqueira-2021-2022-withcerts            kafka
22  CV-JoaoCerqueira-2021-2022-withcerts          kinesis
23  CV-JoaoCerqueira-2021-2022-withcerts           hadoop
24  CV-JoaoCerqueira-2021-2022-withcerts             hive
25  CV-JoaoCerqueira-2021-2022-withcerts            spark
26  CV-JoaoCerqueira-2021-2022-withcerts              hdp
27  CV-JoaoCerqueira-2021-2022-withcerts           python
28  CV-JoaoCerqueira-2021-2022-withcerts             java
29  CV-JoaoCerqueira-2021-2022-withcerts              gcp
30  CV-JoaoCerqueira-2021-2022-withcerts            azure
31  CV-JoaoCerqueira-2021-2022-withcerts       postgresql
32  CV-JoaoCerqueira-2021-2022-withcerts              aws
33  CV-JoaoCerqueira-2021-2022-withcerts            kafka
34  CV-JoaoCerqueira-2021-2022-withcerts           hadoop
35  CV-JoaoCerqueira-2021-2022-withcerts             hive
36  CV-JoaoCerqueira-2021-2022-withcerts            spark
37  CV-JoaoCerqueira-2021-2022-withcerts           python
38  CV-JoaoCerqueira-2021-2022-withcerts            scala
39  CV-JoaoCerqueira-2021-2022-withcerts             java
40  CV-JoaoCerqueira-2021-2022-withcerts            azure
41  CV-JoaoCerqueira-2021-2022-withcerts           oracle
42  CV-JoaoCerqueira-2021-2022-withcerts       postgresql
43  CV-JoaoCerqueira-2021-2022-withcerts         redshift
44  CV-JoaoCerqueira-2021-2022-withcerts              aws
45  CV-JoaoCerqueira-2021-2022-withcerts         aws glue
46  CV-JoaoCerqueira-2021-2022-withcerts             glue
47  CV-JoaoCerqueira-2021-2022-withcerts            graph
48  CV-JoaoCerqueira-2021-2022-withcerts            kafka
49  CV-JoaoCerqueira-2021-2022-withcerts         big data

In [9]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where ( b.role like '%engineer' or b.role like '%architect')  AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

                  skill
0            kubernetes
1    kappa architecture
2                athena
3                 azure
4            postgresql
5               graphql
6                   soa
7                 hbase
8                   eks
9              big data
10                  gcp
11                  api
12                kafka
13                 glue
14                 soap
15                  cdh
16      confluent kafka
17            terraform
18                  cdp
19                  gke
20             aws glue
21                mysql
22  lambda architecture
23                graph
24                   cd
25                   ci
26                 bash
27                  etl
28                scala
29           aws lambda
30                spark
31             redshift
32        elasticsearch
33                    c
34              closure
35             cloudera
36            scripting
37                  aks
38                 solr
39             dataproc
40              kinesis
41                  elt
42                 java
43                  aws
44                  hdp
45               hadoop
46               python
47               oracle
48                 hive

In [10]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'data engineer' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

              skill
0            athena
1             azure
2        postgresql
3          big data
4               gcp
5             kafka
6              glue
7               cdh
8   confluent kafka
9               cdp
10         aws glue
11            mysql
12            graph
13              etl
14            scala
15       aws lambda
16            spark
17         redshift
18    elasticsearch
19          closure
20         cloudera
21             solr
22         dataproc
23          kinesis
24              elt
25             java
26              aws
27              hdp
28           hadoop
29           python
30           oracle
31             hive

In [11]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'data architect' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

      skill
0     azure
1       gcp
2     mysql
3     graph
4  redshift
5       aws
6    oracle

In [12]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'solution architect' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

                  skill
0            kubernetes
1    kappa architecture
2               graphql
3                   soa
4                   eks
5                   api
6                  soap
7                   gke
8   lambda architecture
9                    cd
10                   ci
11                  aks

In [13]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'solution engineer' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

   skill
0  hbase
1      c

In [14]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'devops engineer' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

       skill
0  terraform
1       bash
2  scripting

In [15]:
%%sql_display
select distinct(b.skill) from ngrams_cv as a, role_skills as b 
 where b.role = 'data scientist' AND b.level='5' 
  AND (array_contains(a.1_grams,b.skill) or array_contains(a.2_grams,b.skill) or array_contains(a.3_grams,b.skill))
 limit 100

          skill
0  data science
1        pandas
2       jupyter
3       pyspark
4             r

In [16]:
sc.stop()